Repository LatexScribe/LatexScribe, pull requests merged in 2024-05, with the labels that each got.

#20 Add expiration dates to JWT access tokens
  backend/src/main/java/org/latexscribe/LatexScribe/config/JwtService.java
  backend/src/main/java/org/latexscribe/LatexScribe/domain/dto/AuthResponseDto.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/IAuthService.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/impl/AuthServiceImpl.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/AuthController.java
Labels: backend

#19 Use filter to handle CORS
  backend/src/main/java/org/latexscribe/LatexScribe/config/SimpleCorsFilter.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/AuthController.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/DocumentController.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/TagController.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/TemplateController.java
Labels: bug, backend

#17 KAN-63/DPA/Implement-searching-documents-by-name
  backend/src/main/java/org/latexscribe/LatexScribe/repository/DocumentRepository.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/IDocumentService.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/impl/DocumentServiceImpl.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/DocumentController.java
Labels: backend

#22 Fix null `user_id` column in documents table
  backend/src/main/java/org/latexscribe/LatexScribe/service/impl/DocumentServiceImpl.java
Labels: bug, backend

#23 Merge `/templates` and `/templates/category` API endpoints
  backend/src/main/java/org/latexscribe/LatexScribe/domain/enums/TemplateCategory.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/TemplateController.java
Labels: backend

#24 Fix document updating
  backend/src/main/java/org/latexscribe/LatexScribe/service/IDocumentService.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/impl/DocumentServiceImpl.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/DocumentController.java
Labels: backend

#25 Return ID of created document
  backend/src/main/java/org/latexscribe/LatexScribe/service/IDocumentService.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/impl/DocumentServiceImpl.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/DocumentController.java
Labels: backend

#27 Make static template files public
  backend/src/main/java/org/latexscribe/LatexScribe/config/ResourceConfig.java
  backend/src/main/java/org/latexscribe/LatexScribe/config/SecurityConfig.java
  backend/src/main/resources/public/templates/.gitkeep
Labels: backend

#28 Only trigger frontend deployment when frontend files are changed
  .github/workflows/deploy-frontend.yaml
Labels: CI

#29 Implement automatic static template insertion
  backend/src/main/java/org/latexscribe/LatexScribe/config/InitializeTemplatesBean.java
  backend/src/main/java/org/latexscribe/LatexScribe/domain/dto/TemplateDto.java
  backend/src/main/java/org/latexscribe/LatexScribe/domain/model/Document.java
  backend/src/main/java/org/latexscribe/LatexScribe/domain/model/DocumentTemplate.java
  backend/src/main/java/org/latexscribe/LatexScribe/repository/TemplateRepository.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/ITemplateService.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/impl/TemplateServiceImpl.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/TemplateController.java
  backend/src/main/resources/db/migration/V1_6__template_fields.sql
Labels: backend

#30 Create document from template backend API
  backend/src/main/java/org/latexscribe/LatexScribe/domain/model/Document.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/IDocumentService.java
  backend/src/main/java/org/latexscribe/LatexScribe/service/impl/DocumentServiceImpl.java
  backend/src/main/java/org/latexscribe/LatexScribe/webcontroller/DocumentController.java
Labels: backend
